﻿<!DOCTYPE html>

<html lang="es-mx" xmlns="http://www.w3.org/1999/xhtml" ng-app="Settings">
<head ng-controller="CtrlSetting">
    <meta charset="utf-8" />

    <title>{{Hotel.hotelName}}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport"  content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <link ng-href='{{Tema.urlFont}}' rel="stylesheet" type="text/css" />
    <link href="assets/css/style.css?v=1.0" rel="stylesheet" />
    <!-- SCRIPTS -->
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/mobile-detect.js"></script>
    <!-- STYLE -->
    <style>
        /* FONTS
        // ================================================== */
        .fontface{ font-family:{{Tema.fontFamily}} }

        /* HELPERS
        // ================================================== */
        .radius { border-radius:{{Tema.radius}}px !important }

        /* COLORS
        // ================================================== */

        .color-theme { color: {{Tema.colorTheme}} !important;}
        .color-light-theme {color: {{Colorea.lighttheme}} !important;}
        .color-dark-theme {color: {{Colorea.darktheme}} !important;}
        .color-support {color: {{Tema.colorSupport}} !important;}
        .color-light-support {color: {{Colorea.darksupport}} !important;}
        .color-dark-support {color: {{Colorea.darksupport}} !important;}
        .color-default {color: {{Tema.colorDefault}} !important;}
        .color-light-default {color: {{Colorea.lightdefault}} !important;}
        .color-dark-default {color: {{Colorea.darkdefault}} !important;}
        .color-grey {color: #6b6b6b !important;}
        .color-white {color: #fff !important;}

        /* ---------------------------- */

        .border-theme {border-color: {{Tema.colorTheme}} !important;}
        .border-light-theme {border-color: {{Colorea.lighttheme}} !important;}
        .border-dark-theme {border-color: {{Colorea.darktheme}} !important;}
        .border-support {border-color: {{Tema.colorSupport}} !important;}
        .border-light-support {border-color: {{Colorea.lightsupport}} !important;}
        .border-dark-support {border-color: {{Colorea.darksupport}} !important;}
        .border-default {border-color: {{Tema.colorDefault}} !important;}
        .border-light-default {border-color: {{Colorea.lightdefault}} !important;}
        .border-dark-default {border-color: {{Colorea.darkdefault}} !important;}
        .border-grey {border-color: #6b6b6b !important;}
        .border-white {border-color: white !important;}

        /* ---------------------------- */

        .bg-theme {background-color: {{Tema.colorTheme}}!important;}
        .bg-light-theme {background-color: {{Colorea.lighttheme}}!important;}
        .bg-dark-theme {background-color: {{Colorea.darktheme}}!important;}
        .bg-support {background-color: {{Tema.colorSupport}}!important;}
        .bg-light-support {background-color: {{Colorea.lightsupport}}!important;}
        .bg-dark-support {background-color: {{Colorea.darksupport}}!important;}
        .bg-default {background-color: {{Tema.colorDefault}}!important;}
        .bg-light-default {background-color: {{Colorea.lightdefault}}!important;}
        .bg-dark-default {background-color: {{Colorea.darkdefault}}!important;}
        .bg-grey {background-color: #6b6b6b !important;}
        .bg-white {background-color: white !important;}

        /* Datepicker */
        .ui-datepicker {border-color:{{Tema.colorSupport}};box-shadow: 0 3px 3px $bodyColor;}
        .ui-datepicker .ui-datepicker-header{background-color: {{Colorea.darksupport}};color:#ffffff;}
        .ui-datepicker table {border-color:#ffffff; th{background:{{Tema.colorTheme}};color:$bodyColor} }
        .ui-datepicker table th{background:{{Tema.colorTheme}};}
        .ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{background:{{Colorea.lightdefault}};}
        .ui-datepicker-calendar .ui-state-default {background-color:{{Tema.colorDefault}};border-color:{{Tema.colorDefault}};}
        .ui-datepicker-calendar{background:#ffffff;}
        .ui-state-active {background-color: #D84368!important;} /* DIA ACTUAL ACTIVO */
        .ui-state-highlight {background-color: #127496 !important;} /* DÍA ACTUAL MOSTRADO*/
    </style>
    <!-- Google Analytics -->
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-85593482-1', 'auto', { 'allowLinker': true });
        ga('require', 'linker');
        ga('linker:autoLink', ['internetpower.com.mx', 'crs.univisit.com', 'medanocabo.com']);
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
    <!-- Convertion Call -->
    <script type="text/javascript">
        (function (a, e, c, f, g, h, b, d) { var k = { ak: "875951394", cl: "G1ceCOCIwW4QourXoQM", autoreplace: "01 612 175 0860" }; a[c] = a[c] || function () { (a[c].q = a[c].q || []).push(arguments) }; a[g] || (a[g] = k.ak); b = e.createElement(h); b.async = 1; b.src = "//www.gstatic.com/wcm/loader.js"; d = e.getElementsByTagName(h)[0]; d.parentNode.insertBefore(b, d); a[f] = function (b, d, e) { a[c](2, b, k, d, null, new Date, e) }; a[f]() })(window, document, "_googWcmImpl", "_googWcmGet", "_googWcmAk", "script");
    </script>
    <!-- End Conversion Call -->
</head>
<body ng-controller="CtrlSetting" class="bg-light-default">
    <!-- ====================================================================================== -->
    <!-- HEADER -->
    <header class="header clearfix animated fadeIn">
        <!-- TOP BLOCK -->
        <div class="top-block bg-light-default">
            <!-- TOPBAR -->
            <div class="top-bar bg-theme">
                <div class="wrapper">
                    <!-- ENLACES PARA COMPARTIR -->
                    <div class="social-likes animated fadeInRight" data-counters="no" data-url="{{Hotel.url}}" data-title="{{Hotel.hotelName}}">
                        <div class="facebook" title="Compartir enlace en Facebook">Facebook</div>
                        <div class="twitter" data-via="friendlyhotel" title="Compartir enlace en Twitter">Twitter</div>
                        <div class="plusone" title="Compartir enlace en Google">Google+</div>
                    </div>
                </div>
            </div>
            <!-- TERMINA TOPBAR -->
            
            <!-- WRAPPER PRINCIPAL -->
            <div class="wrapper header-block">
                <!-- LOGO PRINCIPAL DEL SITIO -->
                <h1 class="logo animated fadeInLeft">
                    <a href="{{Hotel.url}}">
                        <img src="assets/img/logo.png" alt="{{Hotel.hotelName}}">
                    </a>
                </h1>
                <!-- IMAGEN OPCIONAL DEL SITIO -->
                <p class="callcenter animated fadeInRight">Call Center: <br> <a href="tel:{{Hotel.telefono}}">
                    <span class="color-support fontface"><i class="fa fa-phone"></i>  {{Hotel.callCenter}}</span></a>
                </p>
            </div>
            <!-- TERMINA WRAPPER PRINCIPAL -->
        </div>
        <!-- TERMINA TOP BLOCK
        <img src="assets/img/bg-header-x2.jpg" id="slideHome" alt="Promos" /> -->
        <!-- TEXTO MEJOR TARIFA -->
        <div class="text-box animated fadeInRight" style="display: none">
            <p>
                <strong class="color-support">¡Mejor Tarifa Garantizada!</strong><br>
                <span class="uppercase">Reserve Ahora</span>
            </p>
        </div>
        
    </header>
    <!-- TERMINA HEADER -->
    <!-- ====================================================================================== -->
    <!-- BANNER MEJOR TARIFA -->
    <div class="promo-border bg-dark-theme"></div>
    <div class="promo-box animated fadeIn" style="background-image: url(assets/img/bg-tarifa.jpg) !important;">
        <div class="mejor-tarifa">
            <div class="sello">
                <a href="{{Enlaces.mejor_tarifa}}" border="0" target="_blank">
                    <img src="assets/img/mejor-tarifa-garantizada-es.png">
                </a>
            </div>
            <h3>SI ENCUENTRA UNA TARIFA MÁS BAJA EN INTERNET,</h3>
            <span>NOSOTROS LA MEJORAMOS</span><br>
            <label class="big">Tel.: {{Hotel.callCenter}}</label>
        </div>
    </div>
    <!-- BOOKING -->
    <div class="booking bg-dark-theme animated-fadeIn">
        <div class="wrapper animated fadeInUp">
            <!-- include booking con AngularJS (Proximamente) -->
            <form class="clearfix" method="get" id="form-booking" action="#">
                <!-- Variables dinamicas del Field -->
                <div style="visibility:hidden;display:none;">
                    <input class="text input" type="hidden" name="Provider" value="0" />
                    <input class="text input" type="hidden" name="Currency" value="{{Booking.currency}}" />
                    <input class="text input" type="hidden" name="Tab" value="Rates" />
                    <input class="text input" type="hidden" id="Destiny" name="Destiny" value="{{Booking.idHotel}}" />
                    <input class="text input" type="hidden" id="bookingApi" name="booking_api" value="{{Booking.parther}}" />
                    <input type="hidden" id="bookingApiM" class="text input" value="{{Booking.partherMov}}" />
                    <input class="text input promocorp" id="txtNegociateRate" type="hidden" name="promocorp" placeholder="Código" />
                    <input id="txtPromotionCode" type="text" />
                </div>
                <div class="row">
                    <div class="form-block">
                        <label for="" class="color-white">Llegada</label>
                        <div class="input-icon">
                            <i class="fa fa-calendar"></i>
                            <input class="datepicker radius" id="checkllegada" type="text" placeholder="dd/mm/aaaa" value="" />
                            <input style="visibility:hidden;position:relative;display:none;" id="checkin" type="text" name="CheckIn" value="" />
                        </div>
                    </div>
                    <div class="form-block">
                        <label for="" class="color-white">Salida</label>
                        <div class="input-icon">
                            <i class="fa fa-calendar"></i>
                            <input class="datepicker radius" id="checksalida" type="text" placeholder="dd/mm/aaaa" value="" />
                            <input style="visibility:hidden;position:relative;display:none;" id="checkout" type="text" name="CheckOut" value="" />
                        </div>
                    </div>
                    <div class="form-block form-block-small v-large">
                        <label for="" class="color-white">Habitaciones</label>
                        <select id="cmbNumRooms" name="Rooms" class="radius">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="form-block form-block-small v-large">
                        <label for="" class="color-white">Adulto(s)</label>
                        <select id="iAdults1" name="Adults" class="radius">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <br />
                        <select id="iAdults2" name="Adults" class="radius">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <br />
                        <select id="iAdults3" name="Adults" class="radius">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="form-block form-block-small v-large">
                        <label for="" class="color-white">Menor(es)</label>
                        <select id="iChildren1" name="Children" class="radius">
                            <option value="0" selected>0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <br />
                        <select id="iChildren2" name="Children" class="radius">
                            <option value="0" selected>0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <br />
                        <select id="iChildren3" name="Children" class="radius">
                            <option value="0" selected>0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>

                    <div class="form-block">
                        <button type="button" id="tarifas" class="switch btn uppercase bg-support border-dark-support radius animated"><span class="color-white">Ver Tarifas</span></button>
                    </div>

                </div>
                <!-- <p class="reserve-call v-large">Reservaciones: <strong>01-612-175-0860</strong></p> -->
            </form>
        </div>
        <div class="wrapper clearfix">
            <div class="row comparador" style="text-align: center">
                <div ng-controller="appComparator" ng-show="show" id="compOtas" class="row">
                    <div class="animated fadeInUp {{r.Channel}}" ng-show="{{r.Rate >= 0}}" ng-repeat="r in Rates">
                        <a href="{{$first ? r.Status : ''}}" ng-If="!(r.Channel == 'Nosotros' && r.Rate == 0)">
                            <span class="big fontface ota">{{r.Channel}}</span>
                            <span class="big fontface precio" ng-If="r.Rate == 0">Sin Tarifa</span>
                            <span class="big fontface precio" ng-If="r.Rate > 0">${{r.Rate}} MXN</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ====================================================================================== -->
    <!-- CONTENIDO -->
    <section class="content">
        <div class="wrapper clearfix">
            <!-- MÓDULO DE PAQUETES -->
            <ng-include src="'inc/package.html'" ng-show="false"></ng-include>
            <!-- MÓDULO DE HAB -->
            <ng-include src="'inc/rates.html'" ng-show="true"></ng-include>
            <!-- MÓDULOS -->
            <ng-include src="'inc/modules.html'" ng-show="true"></ng-include>
        </div>
    </section>
    <!-- TERMINA CONTENIDO -->
    <!-- ====================================================================================== -->
    <footer class="footer bg-theme animated fadeIn">
        <div class="wrapper text-center clearfix">
            <div class="socials">
                <a ng-If="RedSocial.facebook != ''" href="{{RedSocial.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
                <a ng-If="RedSocial.twitter != ''" href="{{RedSocial.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
                <a ng-If="RedSocial.google != ''" href="{{RedSocial.google}}" target="_blank"><i class="fa fa-google"></i></a>
                <a ng-If="RedSocial.youtube != ''" href="{{RedSocial.youtube}}" target="_blank"><i class="fa fa-youtube"></i></a>
                <a ng-If="RedSocial.tripadvisor != ''" href="{{RedSocial.tripadvisor}}" target="_blank"><i class="fa fa-tripadvisor"></i></a>
                <a ng-If="RedSocial.instagram != ''" href="{{RedSocial.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a>
            </div>
            <p class="text-center">Recibe en tu correo promociones especiales:<br>
                <a href="{{Enlaces.urlSuscription}}" class="btn btn-support btn-rounded bg-theme border-light-theme animated">SUSCRIBIRSE</a>
            </p>
            <p class="text-center">
                Desarrollado por <a href="http://www.internetpowehotel.com" target="_blank" class="color-light-theme">Internet Power</a>
            </p>
        </div>
    </footer>
    <!-- FIXED SCROLL TOP BUTTON -->
    <a href="#" class="topscroll"><i class="fa fa-arrow-circle-up"></i></a>    
    <!-- SCRIPTS -->
    <!-- ====================================================================================== -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>if (!window.jQuery) {document.write('<script src="assets/js/jquery-2.1.4.min.js"><\/script>');}</script>
    <!-- ====================================================================================== -->
    <script src="assets/js/jquery-ui.js"></script>
    <script src='assets/js/social-likes.js'></script>
    <script src='assets/js/ip-booking.js?v=1.0'></script>
    <script src='assets/js/scripts.js?v=1.0'></script>
    <script src="settings.js?v=1.0"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                /* Slide jQuery ------------------------------------------ */
                var slideHeader = function (indice) {
                    var imagen = ["assets/img/bg-header-x2.jpg", "assets/img/bg-header-x3.jpg"];
                    indice = (indice != 1) ? (indice + 1) : 0;
                    $('.header').css({ "background": "url(" + imagen[indice] + ")", "background-size": "100% 100%" });
                    var tiempo = setTimeout(function () { slideHeader(indice) }, 8000);
                }
                slideHeader(0);
            });
        })(jQuery);
    </script>
</body>
</html>