/*
	-----------------------------------------------------------------------------------------------------------
		Contenidos CSS
	------------------------------------------------------------------------------------------------------------

		1- RESETS 						| unificación global de estilos
		2- FUENTES ALTERNATIVAS 		| fuentes no standar o fuentes de iconos externas
		3- BASE CSS 					| Estilos generáles de etiquetas html
		4- COMPONENTES 					| elementos de bloque para repetición
		5- CSS Externo 					| estilos generados para plugins externos o librerías externas
		6- MAQUETACIÓN 					| estilos de distribución de elementos en pantalla
		7- MEDIA QUERIES 				| condiciones para estilos por resolución de pantalla ( 320+, 480+, 768+, 992+, 1280+, 1366+ y 1640+ )

*/

	// SETTINGS
	@import "_libs/settings";

/*

   RESETS | unificación global de estilos
================================================================================================================= */
	html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
	small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
	figure, footer, header, hgroup, nav, section, menu, time, mark, audio, video, canvas {margin: 0; padding: 0; border: 0;}
	html {height: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
	body {min-height: 100%;font-size: 100%;}
	article, aside, details, figcaption, figure,footer, header, hgroup, nav, section, audio, canvas, video {display: block;}
	sub, sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
	sup {top: -0.5em;} sub{bottom: -0.25em;}
	pre {white-space: pre;white-space: pre-wrap;word-wrap: break-word;}
	b, strong {font-weight: bold;}
	abbr[title] {border-bottom: 1px dotted;}
	input, textarea, button, select {margin: 0;font-size: 100%;line-height: normal;vertical-align: baseline;}
	button,html input[type="button"],
	input[type="reset"],input[type="submit"] {cursor: pointer;-webkit-appearance: button;}
	input[type="checkbox"],input[type="radio"] {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;}
	textarea {overflow: auto;}
	table { border-collapse: collapse; border-spacing: 0;}
	*{box-sizing:border-box;}
	/* elementos fluidos */
	figure {position: relative;}
	figure img, figure object, figure embed, figure video {max-width: 100%;display: block;}
	img {border: 0;-ms-interpolation-mode: bicubic;}


/*

   BASE CSS | Estilos generáles de etiquetas html
================================================================================================================= */
	html{font-size:$baseFontsize;}
	body {overflow-x:hidden;background:$bodyColor;color:$fontColor;font-size:$baseFontsize;line-height:28px;font-family:$fontBase;}
	h1,h2,h3,h4,.h1,.h2,.h3,.h4 {font-family: $fontTitle;color:$theme;font-weight:normal;}
	h1, .h1 {font-size:2.6rem;margin: 0 0 2rem 0;}
	h2, .h2 {font-size:2rem;margin: 0 0 1.5rem 0;}
	h3, .h3 {font-size:1.6rem;margin: 0 0 1rem 0;}
	h4, .h4 {font-size:1.3rem;margin: 0 0 1rem 0;}

	p {font-size:1rem;margin: 0 0 1rem 0;overflow:hidden;line-height:1.7;text-align:justify;}

	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 1rem; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 96%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: .5rem; }
	li { line-height:1.3; margin-bottom:.5rem; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }
	dl{}
	dl dt{font-weight:bold;line-height:0.7rem}
	dl dd{line-height:2.6rem;margin-bottom:1rem}

	a{color:lighten($theme,12%);cursor:pointer;text-decoration:none;}
	a:hover, a:visited{ color:$theme; }

	::-moz-selection {background:darken($theme,10%);color:#fff; text-shadow:none;}
	::selection { background:darken($theme,10%); color:#fff;text-shadow:none;}

	aside{margin-bottom:2rem;box-sizing:border-box;}
	hr {overflow:hidden;border:0;border-bottom:1px dashed $border;width:100%;height:0;margin: 2rem 0;}
	blockquote{text-align:left;padding-left:1rem;color:lighten($fontColor,20%);font-style:italic;margin:0.5rem 0;font-size:0.8rem;}

	legend{font-weight:bold;margin-bottom:1.5rem;}
	label{display:block;font-size:11px;line-height:1.5;margin-bottom:.5rem;}
	input, select, textarea {
		box-sizing:border-box;background:white;padding:0.5rem;width:100%;background-color:#fff;color:darken($theme,6%);
		font-size:11px;border:none;position:relative;margin-bottom:1rem;border-radius:$radius;
		-webkit-appearance:none;-moz-appearance:none;
		&:focus {box-shadow:0 0 2px rgba($support,.4);border:1px solid #fff; }
	}
	select{position:relative;background-image:url(../img/caret.png);background-repeat:no-repeat;background-position:right 4px center;background-size:10px;}

	::-webkit-input-placeholder {color:darken($default,28%);}
	:-moz-placeholder {color:darken($theme,14%);}
	::-moz-placeholder {color:darken($theme,14%);}
	:-ms-input-placeholder {color:darken($theme,14%);}

	/* Clearfix | ayuda para romper elementos flotados */
	.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
	.clearfix { display:block; }
	html[xmlns] .clearfix {display:block; }
	* html .clearfix {height:1%;}

	/* Tipografía */
	.big {font-size:1.5rem;}
	.small {font-size:0.8rem;}
	.uppercase{text-transform:uppercase;}
	.text-center {text-align:center;}
	.text-left{text-align:left;}
	.text-right{text-align:right;}

	.sub-title{display:block;font-size:80%;line-height:1;opacity:.7;font-style:italic}

	/* Maquetación */
	.box{padding:1rem;border:1px solid $border;background:$default;}
	.block {display:block;margin:2rem 0;padding:1rem 0;}
	.v-large {display:none!important;}
	.v-medium {display:block;}
	.v-mobile {display:block;}

	ul.wide-list{}
	ul.inline-list{list-style:none;margin:0;padding:0;
	  li{display:inline-block;text-align:center;}
	  a{text-decoration:none;padding:1rem;}
	}

	/* Imágenes */
	.img-thumbnail{background:#fff;padding:3px;border:1px solid $border;}
	.img-right, .img-left{display:block;width:100%;height:auto;margin-bottom:1rem;}
	.img-circle{border-radius:50%;}
	.img-wide{width:100%;height:auto;}
	.img-map{width:100%;min-height:240px;height:auto;}


	/* Rejilla fluída simple | http://codepen.io/raymundo_rabago/pen/LgryE  */
	.wrapper{margin:0 auto;width:$baseWidht;}
	.row{@extend .clearfix;width:100%;margin:0 0 .3rem 0}
	.half-block,.third-block,.fourth-block,.sidebar,.content-left,.content-right {width:100%;margin:0 0 .3rem 0;}


/*

   COMPONENTES | elementos de bloque para repetición
================================================================================================================= */

	/* Botónes */
	.btn,button,input[type="submit"],input[type="reset"],input[type="button"] {
	  background:$default;border:0;border:1px solid;border-color:darken($default,8%);color:$fontColor;width:100%;
	  display:block;font-size:.8rem;font-weight:normal;text-decoration:none; text-transform:uppercase; text-align:center;
	  cursor: pointer;margin-bottom:.5rem;line-height:1.1; transition:all .5s ease;
	  padding: 1rem 1.8rem; font-family: $fontBase;
	  box-shadow: 0 48px 0 0 transparent inset; border-radius:$radius;
	  &:hover {color:$fontColor; box-shadow: 0 48px 0 0 rgba(0, 0, 0, .3) inset;}
	  &:active {box-shadow: 0 48px 0 0 rgba(0, 0, 0, .5) inset;}
	}
	button::-moz-focus-inner,input::-moz-focus-inner { border:0;padding:0;}

	.btn-default, button.btn-default {background: $default; color:$support!important; border-color:darken($default,8%);}
	.btn-support, button.btn-support {background: $support; color:#fff!important; border-color:darken($support,8%);}
	.btn-theme, button.btn-theme {background:$theme; color:#fff!important; border-color:darken($theme,8%);}
	.btn-rounded {border-radius:2em;}
	.btn-block {display:block!important;box-sizing:border-box;width:100%!important;text-align:center;}

	/* modulos */
	// .sharebox{padding:1rem;background:rgba(white,.8);width:161px;position:absolute;z-index:80;top:32px;right:0;box-shadow:0 0 6px rgba(black,.3)}
	.input-icon{position:relative; i{position:absolute;top:0;right:0;padding:7px;z-index:10;} }
	.list{@extend .clearfix; &-item{display:block;margin-bottom:1rem;padding-bottom:1rem;border-bottom:1px solid $border;} }


	/* Cards */
	.card {box-sizing:border-box;border:1px solid $border;margin-bottom:2rem;background-color:#fff;transition:all .5s ease; overflow:hidden; &:hover{box-shadow: 0 0 12px rgba(0,0,0,.3);}
			&-header{padding:1rem;background-color:$theme;color:lighten($support,26%);border-bottom:1px solid $border;}
			&-title{margin:0;color:#fff;font-size:1.2rem;text-transform:uppercase;line-height:1;}
			&-image{display:block;width:100%;height:auto;margin:0;  }
			&-body{padding:1rem; p{margin-bottom:.5rem;font-size:11px;line-height:1.5;} }
			&-footer{background-color:$border;font-size:.8rem;}
	}

	/* Media Block */
	.media-block{
		&_image{width:26%;height:auto;float:left;margin-right:2%;}
		&_title{font-size:1.2rem;margin-bottom:.5rem;line-height:1;}
		&_content{overflow:hidden;display:block;}
	}

	/* Tabs */
	ul.tabs{margin:0;padding:0;list-style:none;display:flex;justify-content:space-between;
		li{background:#fff;color:$support;display:block;margin:0;padding:10px 15px;cursor:pointer;width:50%;font-size:11px;text-align:center;text-transform:uppercase;}
		li.current{background:$theme;color:#fff}
	}
	.tab-content{display:none;background:$theme;color:#fff;padding:15px; &.current{display:inherit} }

	/* form-block */
	.form-block {box-sizing:border-box;
		label,i {color:$theme;}
		legend {margin:0 0 .5rem 0;color:#fff;text-transform:uppercase;font-size:.9rem;}
		input, select, textarea{color:darken($theme,14%);}
		.btn{display:block;text-align:center;color:$theme!important;margin:1.2rem 0 0;}
	}

	/* form-section */
	.form-section{box-sizing:border-box;background:whitesmoke;padding:1rem;border: 1px solid $border;}

	/* Gallery Block */
	.gallery-block {display:flex;justify-content:flex-start;flex-wrap:wrap;
			a{display:block;box-sizing:border-box;width:9rem;margin:0 .4rem;}
			img{width:100%;height:auto; border:1px solid $border;padding:2px;  }
	}

	/* Scroll to Top */
	.topscroll{display:block;font-size:3rem;color:$theme!important;opacity:.6;position:fixed;bottom:1.5rem;left:1.5rem;z-index:999;
		&:hover, &:active{opacity:.4;}
	}


/*

   MAQUETACIÓN | estilos de distribución de elementos en pantalla
================================================================================================================= */
	.wrapper {min-width:222px;}
	.header {min-height:28rem;background:darken($support,8%) url(../img/bg-header.jpg) no-repeat;position:relative;background-position:center center;background-size:cover;z-index:0;
		&:before{content:"";width:100%;height:100%;top:0;left:0;display:block;position:absolute;background:darken($theme,12%);opacity:.6;z-index:-1;}
		.top-bar {background:$support;padding:5px 0;text-align:right;}
		.top-block{position:relative;background:#fff;box-shadow:0 2px 3px rgba(0,0,0,.3);}
		.header-block{display:flex;justify-content:space-between;align-items:center;}
		.logo{margin:12px 0;width:auto;text-align:left; img{height:58px;} }
		.callcenter{text-align:right; a{font-size:1.1rem;} }
		.text-box, .promo-box{position:absolute;bottom:0;color:#fff;width:100%;padding:1rem;z-index:10; 
					p{color:#fff;font-size:1.7rem;line-height:1.2;text-align:center;} 
		}
	}
	.booking{background:$support;padding:1rem 0;}
	.content{margin:18px 0;}
	.sidebar{display:none;}
	.footer{background:$support;color:#fff;padding:1rem 0;}

	.socials {display:block;width:100%;margin-bottom:1rem;text-align:center;font-size:1.7rem;
	    a{color:#fff;display:inline-block;margin:0 3px;}
	}


/*

   CSS Externo | estilos generados para plugins externos o librerías externas
================================================================================================================= */

	@import "_libs/jquery-ui";
	@import "_libs/social-likes";
	@import "_libs/icons/font-awesome";
	@import "_libs/animate";




/*

   MEDIA QUERIES | condiciones para estilos por resolución de pantalla (viewport)
================================================================================================================= */

	/* 320+ */
	@media only screen and (min-width: 320px) {

		.header .top-links nav {justify-content:space-between;}
		.gallery-block a {margin:0 .2rem;}

	}


	/* 480+ */
	@media only screen and (min-width: 480px) {

		.v-medium{display:none!important;}
		.mfp-hide {display:block!important;}
		.btn{display:inline-block;width:auto;}
		.half-block{float:left;width:49%;margin-right:2%; &:last-child{margin-right:0;} }
		.third-block{float:left;width:32%;margin-right:2%; &:last-child{margin-right:0;} }
		.fourth-block{float:left;width:23.5%;margin-right:2%; &:last-child{margin-right:0;} }
		.sidebar{float:left;width:32%;}
		.content-left{float:left;width:66%;margin-right:2%;}
		.content-right{float:left;width:66%;margin-left:2%;}
		.topscroll {bottom:4.5rem;}
		.header:before {opacity:.4;}
		.header .top-bar {text-align:right;}
		.header .callcenter a{font-size:1.4rem;}
		.header .text-box p{text-align:right;}
		.gallery-block a {margin:0 1%;width:31%;}
		.form-block {float:left;margin-right:2%;width:32%; &:last-child{margin-right:0;} }
		
	}

	/* 768+ */
	@media only screen and (min-width: 768px) {
	    a {cursor:pointer;}
	    .v-mobile{display:none!important;}
	    .v-large{display:block!important;}
	    .big {font-size:2rem;}
		.img-left{float:left;margin-right:1rem;width:33%;height:auto;}
		.img-right{float:right;margin-left:1rem;width:33%;height:auto;}
		.media-block_title {font-size:1.5rem;}
		.header {min-height:38rem; &:before{display:none;} }
		.header .text-box {background:rgba(255, 255, 255, 0.68);top:11rem;right:1rem;width:176px;height:176px;display:block;border-radius:50%;padding:20px;
		    p{font-size:2rem;color:$support;text-align:center; span{color:$theme;} }
		}
		.header .promo-box {width:62%;margin:0 auto;bottom:1rem;left:50%;transform:translatex(-50%);
			.promo-block{opacity:.4;display:block;top:0;left:0;width:100%;height:100%;position:absolute;z-index:-1;}
			p {text-shadow: 0 0 17px darken($theme,18%);}
		}
		.form-block {width:20%; &:last-child{text-align:right;} }
		.form-block-small {width:10%!important;}
		.form-block .btn {display:inline-block;width:auto;font-size:12px;}
		.bg-section {background-image:url(../img/bg-section.jpg);background-repeat:no-repeat;background-position:center center;background-size:cover;}
		
	}



	/* 992+ */
	@media only screen and (min-width: 992px) {

	  	.wrapper{width:960px;}
		.img-right, .img-left{width:auto;}
		.sub-title {display:inline-block;line-height:2.2;float:right;}
		.media-block_image {width:240px;margin-right:14px;}
		.media-block_title {font-size:1.7rem;}
		.list-item {margin-bottom:2rem;padding-bottom:2rem;}
		.card-body p {margin-bottom:1rem;font-size:1.3rem;line-height:1.5;}

		h3,h4,.h3.h4 {font-size:1.6rem;}
		input, select, textarea {padding:0.7rem;}
		p{text-align:left;font-size:1.3rem;}

		.header {min-height:52rem;background:darken($support,8%) url(../img/bg-header-x2.jpg);background-size:100% 100%;}
	    .header .logo img {height:62px;}
	    .header .img-promo {display:block;height:58px;}
	    .btn, button, input[type="submit"], input[type="reset"], input[type="button"] {font-size:1rem;}
		.gallery-block a {width:23%;}
		.header .text-box {width:224px;height:224px;padding:27px; p{font-size:2.5rem;} }
		.reserve-call {font-size:1.5rem;}

	}



	/* 1280+ */
	@media only screen and (min-width: 1280px) {

		.topscroll {bottom:1.5rem;}
    	.block {padding: 2rem 0;}
		.header .logo img {height:72px;}
		.header .text-box {top:14rem;right:5rem;}
		.form-block {width:25%;}
		.form-block-small {width:9%!important;}
		.form-block:last-child {width:12%;}

	}


	/* 1366+ */
	@media only screen and (min-width: 1366px) {

	    .wrapper{width:1300px;}
		.header .menu-nav .menu a {font-size:14px;padding:10px 24px;}
		.header .text-box {width:299px;height:299px;padding:33px; p{font-size:3.4rem;line-height:1.2;font-weight:600;} }

	}

	/* 1366+ */
	@media only screen and (max-width: 767px) {
		.text-box p strong[class^="color-"]{color:#fff!important;}
		.text-box p span[class^="color-"]{color:#fff!important;}
	}



