<form class="clearfix" method="get" id="form-booking" action="#">
	    <!-- Variables dinamicas del Field -->
	    <div style="visibility:hidden;display:none;">
	      <input class="text input" type="hidden" name="Provider" value="0" />
	      <input class="text input" type="hidden" name="Currency" value="{{Booking.currency}}" />
	      <input class="text input" type="hidden" name="Tab" value="Rates" />
	      <input class="text input" type="hidden" id="Destiny" name="Destiny" value="{{Booking.idHotel}}" />
	      <input class="text input" type="hidden" id="bookingApi" name="booking_api" value="{{Booking.parther}}" />
	      <input class="text input promocorp" id="txtNegociateRate" type="hidden" name="promocorp" placeholder="Código" />
	      <input id="txtPromotionCode" type="text" />
	    </div>
		<div class="row">
			<div class="form-block">
				<label for="" class="color-white">Llegada</label>
				<div class="input-icon">
					<i class="fa fa-calendar"></i>
					<input class="datepicker radius" id="checkllegada" type="text" placeholder="dd/mm/aaaa" value="" />
		      		<input style="visibility:hidden;position:relative;display:none;" id="checkin" type="text" name="CheckIn" value=""/>
				</div>
			</div>
			<div class="form-block">
				<label for="" class="color-white">Salida</label>
				<div class="input-icon">
					<i class="fa fa-calendar"></i>
    				<input class="datepicker radius" id="checksalida" type="text" placeholder="dd/mm/aaaa" value="" />
		      		<input style="visibility:hidden;position:relative;display:none;" id="checkout" type="text" name="CheckOut" value=""/>
				</div>
			</div>
			<div class="form-block form-block-small v-large">
				<label for="" class="color-white">Habitaciones</label>
				<select id="cmbNumRooms" name="Rooms" class="radius">
					<option value="1" selected>1</option>
					<option value="2">2</option>
					<option value="3">3</option>
				</select>
			</div>
			<div class="form-block form-block-small v-large">
				<label for="" class="color-white">Adulto(s)</label>
				<select id="iAdults" name="Adults" class="radius">
					<option value="1">1</option>
					<option value="2" selected>2</option>
					<option value="3">3</option>
				</select>
			</div>
			<div class="form-block form-block-small v-large">
				<label for="" class="color-white">Menor(es)</label>
				<select id="iChildren" name="Children" class="radius">
				<option value="0" selected>0</option>
					<option value="">1</option>
					<option value="">2</option>
					<option value="">3</option>
				</select>
			</div>

			<div class="form-block">
				<button type="button" id="tarifas" class="switch btn uppercase bg-support border-dark-support radius animated"><span class="color-white">Ver Tarifas</span></button>
			</div>

		</div>
		<!-- <p class="reserve-call v-large">Reservaciones: <strong>01-612-175-0860</strong></p> -->
</form>