﻿<!-- ================================================================================ -->
<div ng-controller="appPromo">
    <!-- ================================================================================ -->
    <div class="row">
        <!-- Módulos -->
        <div class="third-block animated fadeInLeft">
            <div class="promo-body">
                <img class="promo-img" src="assets/img/package/promo-verano.jpg" alt="img 500" />
                <div class="promo-container">
                    <p><h2>¡El Verano es Tuyo!</h2></p>
                    <p>
                        Promoción válida para 2 adultos y 2 niños gratis (12 años).<br />
                        Reserva del 01 Marzo al 30 Junio 2017 | Hospedate con nosotros 01 de Julio hasta el 30 de Septiembre 2017 | Restricciones: No incluye impuestos. Sujeto a disponibilidad. Promoción no acumulativa.<br />
                    </p>
                </div>
                <div class="text-right">
                    <a href="{{Paquete[0]}}" class="btn radius bg-support color-white radius">Reserva en Línea</a>
                </div>
            </div>
        </div>
        <!-- Módulos -->
        <div class="third-block animated fadeInUp">
            <div class="promo-body">
                <img class="promo-img" src="assets/img/package/promo-60.jpg" alt="img 500" />
                <div class="promo-container">
                    <p><h2>¡RESERVA AHORA!</h2></p>
                    <p>
                        Disfruta de una estancia placentera en Los Cabos con la mejor ubicación y servicio, has de tu estadía una experiencia para repetir.<br><br>
                        Reserva hoy en el mejor Hotel y disfruta del 60 % de descuento.<br>
                    </p>
                </div>
                <div class="text-right">
                    <a href="{{Enlaces.urlReserve}}" class="btn radius bg-support color-white radius">Reserva Ahora</a>
                </div>
            </div>
        </div>
        <!-- Módulos -->
        <div class="third-block animated fadeInRight">
            <div class="promo-body">
                <img class="promo-img" src="assets/img/package/promo-semana-santa.jpg" alt="img 500" />
                <div class="promo-container">
                    <p><h2>Semana Santa</h2></p>
                    <p>
                        Superior Jungle Adventure Room  $984 USD + Impuestos.<br />
                        Deluxe Oceanfront Room  $1,095 USD + Impuestos.<br />
                        Precio por pareja, por estancia de 4 Noches.<br />
                        Fechas de Viaje: 01 Febrero de 2017 – 21 Diciembre de 2017.<br />
                    </p>
                </div>
                <div class="text-right">
                    <a href="{{Paquete[1]}}" class="btn radius bg-support color-white radius">Reserva en Línea</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ================================================================================ -->
</div>